<li>
    <span class="content"><%= time_spent.notes %></span>
    <span class="timestamp">
        Start time: <%= (time_spent.created_at) %>.
        Finish time: <%= (time_spent.finished_at) %>.
        Total time: <%= (time_spent.total_time) %> hours.
    </span>
</li>