<tr>
  <td>
    <%= link_to user.email, user %>
  </td>
  <td>
    <% if user.last_time_spent %>
      <% if user.last_time_spent.finished_at.nil? %>
        now
      <% else %>
        <%= distance_of_time_in_words Time.now - user.last_time_spent.finished_at %> ago
      <% end %>
    <% else %>
      never
    <% end %>
  </td>
  <td>
    <%= user.total_time %> hours
  </td>
  <td>
    <%= "%.2f" % (user.total_time / @total_time * 100) %>%
  </td>
</tr>