<tr>
  <td>
    <%= link_to user.email, user %>
  </td>
  <td>
    <%= user.total_time_of_project(@project) %> hours
  </td>
  <td>
    <%= '%.2f' % (user.total_time_of_project(@project) / @total_time * 100) %>%
  </td>
</tr>