<% provide(:title, 'All Users') %>
<div class="row">
  <div class="span12">
    <h2>All Users</h2>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3><%= @users.count %> User(s) worked a total of <%= @total_time %> hours</h3>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped push-top">
      <tr>
        <th>Name</th>
        <th>Last Worked On</th>
        <th>Total Time</th>
        <th>Time Percentage</th>
      </tr>
      <% if @users.any? %>
        <%= render @users %>
      <% else %>
        <tr>
          <td colspan="5">There are no users.</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>