<h1>Welcome to Hours Logging</h1>

<h2>Log the hours you spend on projects without the guesswork</h2>

<%= link_to 'Register', new_user_registration_path, class: 'btn btn-large btn-primary' %>
<%= link_to 'Sign In', new_user_session_path, class: 'btn btn-large btn-primary' %>