<div class="center hero-unit">
    <h1>Welcome to Hours Logging</h1>

    <h2>
        Log the hours you spend on projects without the guesswork
    </h2>

    <%= link_to "Register", '#', class: "btn btn-large btn-primary" %>
    <%= link_to "Login", '#', class: "btn btn-large btn-primary" %>
</div>