<% provide(:title, "Editing #{@project.name}") %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2>Editing Project "<%= @project.name %>"</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <%= form_for @project, html: { class: 'form-horizontal' } do |f| %>
        <% render "forms", f: f %>
      <% end %>
    </div>
  </div>
</div>

<% render "project_form_script" %>