<% provide(:title, "#{@project.name}'s Time Spents") %>
<div class="row">
    <div class="span12">
        <h2><%= @project.name %>'s Time Spents</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <% if @project.time_spents.any? %>
            <h3>Time Spents (<%= @project.time_spents.count %>)</h3>
            <ul class="time_spents">
                <%= render @time_spents %>
            </ol>
        <% end %>
    </div>
</div>