@import "bootstrap";

/* Mixins, Variables, etc. */

$grayLight: #999;
$grayMediumLight: #eaeaea;
$grayDarker: #222;

/* Universal */

html
{
    overflow-y: scroll;
}

body
{
    padding-top: 60px;
}

section
{
    overflow: auto;
}

textarea
{
    resize: vertical;
}

.center
{
    text-align: center;

    h1
    {
        margin-bottom: 10px;
    }
}

.push-top
{
    margin-top: 20px;
}

.push-bottom
{
    margin-bottom: 20px;
}

/* Typography */

h1, h2, h3, h4, h5, h6
{
    line-height: 1;
}

h1
{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2
{
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    color: $grayLight;
}

p
{
    font-size: 1.1em;
    line-height: 1.7em;
}

/* Nav Bar */

#logo
{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #848484;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;

    &:hover
    {
        color: #fff;
        text-decoration: none;
    }
}

/* Footer */

footer
{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $grayMediumLight;
    color: $grayLight;

    small
    {
        float: left;
    }

    a
    {
        color: $gray;

        &:hover
        {
            color: $grayDarker;
        }
    }
}

/* Time Spents / Projects */

#notes-text-area
{
    width: 400px;
    height: 50px;
}

.list-styling
{
    list-style: none;
    margin: 10px 0 0 0;

    li
    {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
}
.content
{
    display: block;
}
.timestamp
{
    color: $grayLight;
}

#start-button
{
    margin-top: -8px;
}