<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <small>
          <a href="http://codequarry.net/">CodeQuarry &copy; 2012</a>
        </small>
      </div>
    </div>
  </div>
</footer>