<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to "Hours Logging", root_path, id: "logo" %>
            <nav>
                <ul class="nav pull-right">
                    <% if user_signed_in? %>
                        <%= render 'layouts/nav_user' %>
                    <% else %>
                        <%= render 'layouts/nav_login' %>
                    <% end %>    
                </ul>
            </nav>
        </div>
    </div>
</header>